.header{
    .container{
        display:flex;
        justify-content: space-between;
        align-items:center;
        height:110px;
        padding-left:$space-edges;
        padding-right:$space-edges;
    }
    &-nav{
        a{
            display:inline-flex;
            align-items: center;
            height: $finger-size;
            padding-right:22px;
            padding-left:22px;
            font-weight: 500;
            &:hover{
                color: $dark-grayish-blue;
            }
        }
    }
    &-button{
        box-shadow: 0 1px 10px $bright-red;
        &:hover{
            opacity:0.8;
        }
    }  
}