.showcase{
    
    .container{
        margin-top: 100px;
    }
    &-first{
        scroll-margin-top:160px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding-top:30px;
        padding-bottom:160px;
        &-slogan{
            width:40%;
            h1{
                
            }
            p{
                width:70%;
                margin-top:35px;
                margin-bottom:40px;
            }
        }
        &-data{

        }
    }
}
@media (max-width: 575.98px) {
}

@media (max-width: 1199.98px) {
    .showcase{
        .container{
        }
        &-first{
            padding-top:5px;
            padding-bottom:80px;
            flex-direction: column;
            &-slogan{
                width:auto;
                order:2;
                text-align:center;
                
                h1{
                    font-size:2.2em;
                    line-height: 40px;
                }
                p{
                    width:auto;
                    font-size:1em;
                    margin-top:24px;
                    margin-bottom:24px;
                    line-height: 20px;
                }
            }
            &-data{
                order:1;
                img{
                    width:100%;
                }
            }
        }
    }
}




//showcase2

.showcase2{
    .container{
        
    }
        &-second{
            scroll-margin-top:160px;
            display:flex;
            justify-content: space-between;
            padding-top:30px;
            padding-bottom:160px;

            &-main_info{
                width:36%;
                p{
                    margin-top:36px;
                }
            }
            &-itemized{
                width:40%;
                &-itemized-1{
                    button{
                        box-shadow: none;
                        cursor:auto;
                    }
                    display:flex;
                    &-info-1{
                        margin-left:24px;
                        h3{

                        }
                        p{
                            margin-top:18px;
                            margin-bottom: 20px;
                        }
                    }
                }
                &-itemized-2{
                    button{
                        box-shadow: none;
                        cursor:auto;
                    }
                    display:flex;

                    &-info-2{
                        margin-left:24px;
                        h3{

                        }
                        p{
                            margin-top:18px;
                            margin-bottom: 20px;
                        }
                    }
                }
                &-itemized-3{
                    button{
                        box-shadow: none;
                        cursor:auto;
                    }
                    display:flex;

                    &-info-3{
                        margin-left:24px;
                        h3{

                        }
                        p{
                            margin-top:18px;
                            margin-bottom: 20px;
                        }
                    }
                }
        }
    }
}

@media (max-width: 1199.98px) {
    .showcase2{
        .container{
            
        }
            &-second{
                display:flex;
                flex-direction: column;
                justify-content: center;
                padding-top:20px;
                padding-bottom:160px;
                text-align: center;
    
                &-main_info{
                    width:100%;
                    padding-bottom:60px;
                    p{
                        margin-top:36px;
                    }
                }
                &-itemized{
                    width:100%;
                    &-itemized-1{
                        display: flex;
                        justify-content:space-evenly;
                        &-info-1{
                            
                            h3{
                                background-color: $very-pale-red;
                                border-radius:10px;
                                padding-bottom: 10px;
                                padding-top:10px;
                                
                            }
                            p{
                                margin-top:18px;
                                margin-bottom: 20px;
                            }
                        }
                    }
                    &-itemized-2{
                        display:flex;
    
                        &-info-2{
                           
                            h3{
                                background-color: $very-pale-red;
                                border-radius:10px;
                                padding-bottom: 10px;
                                padding-top:10px;
                            }
                            p{
                                margin-top:18px;
                                margin-bottom: 20px;
                            }
                        }
                    }
                    &-itemized-3{
                        display:flex;
    
                        &-info-3{
                           
                            h3{
                                background-color: $very-pale-red;
                                border-radius:10px;
                                padding-bottom: 10px;
                                padding-top:10px;
                            }
                            p{
                                margin-top:18px;
                                margin-bottom: 20px;
                            }
                        }
                    }
            }
        }
    }
    
}





