.testimonial{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    //align-items:center // slider'ı bozuyor.
    h2{
    }
    &-people{
        margin-bottom:40px;
        margin-top:80px;
        &-item{
            width:33%;
            padding-bottom:100px;
            background-color: #f4f6ff;
            margin-left:20px;
            padding-left:40px;
            padding-right:40px;

            h4{
               margin-top:-30px;
                margin-bottom: 20px;
            }
        }
        img{
            position: relative;
            top:-60px;
         
        }
    }
    .button{
        align-self: center; //only button
        margin-bottom: 80px;
    }
}

.flickity-viewport{
    padding-top:60px; //for img relative
}


//slider

/* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    background: transparent;
    border: 3px solid $bright-red;
  }
  /* fill-in selected dot */
  .flickity-page-dots .dot.is-selected {
    background: $bright-red;
  }


@media (max-width: 991.98px) {
    
    .testimonial{
        h2{
            margin-top:-80px;
        }
        &-people{
            // width:100%;
            // justify-content: center;
            // flex-direction: column;
            // align-items: center;
            margin-top:20px;
            &-item{
                width:100%;
            
            }
        }
        .button{
            margin-bottom:60px;
            margin-top:20px;
        }
    }
}