
.testimonial{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-people{
        text-align: center;
        display:flex;
        margin-top:80px;
        margin-bottom:100px;
        width:100%;
        &-item{
            width:25%;
            background-color:$very-light-gray;
            margin-right:15px;
            padding-bottom:20px;
            padding-right:25px;
            padding-left:25px;
        }
        img{
            width:100px;
            position:relative;
            bottom:40px;
            z-index: 1;
        }
        h4{
            margin-top:-20px;
            margin-bottom:16px;
        }
        p{

        }

    }
    button{
        margin-bottom: 100px;
    }
}

@media (max-width: 991.98px) {
    .testimonial{
    
        &-people{
            width:100%;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            &-item{
                width:100%;
                margin-top:50px;
                &:nth-child(1){
                    margin-top:0;
                }
            }
            img{
            
            }
            h4{
              
            }
            p{
    
            }
    
        }
        button{
            margin-bottom:50px;
            margin-top:-50px;
        }
    }
}